/* BOOTSTRAP */

@import "bootstrap/scss/bootstrap-grid";

.row + .row {
  margin-top: 30px;
}

/* VARIABLES */

:root {
  --pure-black: #000000;
  --black: #0c0c0c;
  --white: #ffffff;
  --grey: #ffffff65;
  --black-opaque: rgba(0, 0, 0, 0.75);
}

/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  width: fit-content;
}

img,
video {
  display: block;
}

body {
  padding-top: 100px;
  background: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}

.spacing {
  margin-bottom: 30px;
}

/* TEXT */

p,
a,
h1,
h2,
h3,
h4,
input,
label {
  color: var(--white);
}

p,
a,
input,
label {
  font-size: 16px;
}

h1 {
  font-size: 90px;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  text-transform: uppercase;
}

h3 {
  font-size: 35px;
  width: 1800px;
}

h4 {
  font-size: 25px;
}

.small {
  font-size: 13px;
}

hr {
  border: 0.5px solid var(--grey);
  align-self: stretch;
}

.text-underline {
  text-decoration: underline;
}

.banner-text p {
  color: var(--grey);
}

.text-animation {
  background: var(--pure-black);
  overflow: hidden;
}

@keyframes scroll {
  to {
    transform: translateX(-100%);
  }
}

.text-animation-inner {
  display: flex;
}

.text-animation-inner h3 {
  flex-shrink: 0;
  padding: 15px 0px;
  overflow: hidden;
  animation: scroll 20s linear infinite;
}

.text-animation:hover .text-animation-inner h3 {
  animation-play-state: paused;
}

/* IMAGES */

.bramois {
  width: 80px;
}

.shop {
  height: 20px;
}

.chevron {
  width: 10px;
}

.social {
  height: 30px;
}

.millau {
  height: 15px;
}

.biosuisse {
  height: 50px;
}

.banner-img img {
  position: relative;
  bottom: 400px;
  left: 80px;
  height: 750px;
  transform: rotate(-10deg);
  opacity: 90%;
}

/* BUTTONS */

.button {
  border-radius: 7px;
  border: 1px solid var(--white);
  background: none;
  padding: 5px 20px;
  transition: all 50ms ease-in-out;
  text-transform: uppercase;
}

.button:hover {
  background: var(--grey);
}

/* HEADER */

header {
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0px 30px;
  background: var(--black-opaque);
  border: 1px solid var(--grey);
  border-radius: 10px;
  top: 20px;
  right: 20px;
  left: 20px;
}

.header-item {
  display: block;
}

.header-content {
  display: flex;
  flex-direction: row;
  gap: 25px;
  height: 100%;
  align-items: center;
}

.menu-burger {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

/* BANNER */

.banner {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  background: linear-gradient(
    143deg,
    rgba(168, 36, 36, 0.39) 18.93%,
    rgba(168, 36, 36, 0) 39.64%
  );
  padding: 60px 80px;
}

.banner-text {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.banner-img {
  height: 250px;
}

/* SECOND SECTION */

.card {
  position: relative;
  border-radius: 20px;
  border: 1px solid var(--grey);
  overflow: hidden;
  height: 300px;
  padding: 20px;
  text-align: center;
}

.card.vigneron {
  background-image: url(../imgs/vigneron-gradient.png);
  background-size: cover;
}

.card.nouveau {
  background-image: url(../imgs/nouveau-gradient.png);
  background-size: cover;
  background-color: transparent;
  transition: all 200ms linear;
}

.card.nouveau:hover {
  background-color: #ff8d07;
}

.card.visite {
  background-image: url(../imgs/visite-gradient.png);
  background-size: cover;
}

.card h2,
.card p {
  margin-bottom: 30px;
}

.card p {
  max-width: 500px;
}

.card-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateY(160px);
  transition: all 400ms cubic-bezier(0.26, 0, 0.25, 1.01);
  padding: 60px 40px;
}

.card:hover .card-center {
  transform: translateY(0px);
}

.card-color-red,
.card-color-orange,
.card-color-green {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0%;
  transition: all 300ms cubic-bezier(0.26, 0, 0.25, 1.01);
}

.card-color-red {
  background: rgba(110, 0, 27, 0.6) 100%;
}

.card-color-orange {
  background: rgba(255, 141, 7, 0.6);
}

.card-color-green {
  background: rgba(82, 111, 1, 0.6);
}

.card:hover .card-color-red,
.card:hover .card-color-orange,
.card:hover .card-color-green {
  opacity: 100%;
}

.card-center .button {
  transform: translateY(50px);
  transition: transform 300ms 150ms cubic-bezier(0.26, 0, 0.25, 1.01);
}

.card:hover .card-center .button {
  transform: translateY(0px);
}

.card-center p {
  opacity: 0;
  transition: all 300ms 300ms linear;
}

.card:hover .card-center p {
  opacity: 1;
}

.deco-text {
  writing-mode: vertical-rl;
  padding-left: 60px;
  font-size: 79px;
  text-transform: uppercase;
  font-weight: 700;
}

/* FOOTER */

.footer {
  display: flex;
  gap: 60px;
  justify-content: space-between;
}

.footer-title {
  text-transform: uppercase;
  font-weight: 700;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.social-media {
  display: flex;
  gap: 10px;
}

.e-mail {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--white);
  background: none;
}

.inscription {
  display: flex;
  gap: 10px;
  width: 100%;
}

.endorsements {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.footer-end {
  display: flex;
  justify-content: space-between;
}

.footer-end-left {
  display: flex;
  gap: 30px;
}

.footer-section {
  padding: 20px 0px;
}
