/* TEMP */

// .row > .col,
// .row > [class^="col-"] {
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
//   color: white;
// }

/* BOOTSTRAP */

@import "bootstrap/scss/bootstrap-grid";

.row + .row {
  margin-top: 30px;
}

/* VARIABLES */

:root {
  --pure-black: #000000;
  --black: #0c0c0c;
  --white: #ffffff;
  --grey: #ffffff65;
  --black-opaque: rgba(0, 0, 0, 0.75);
  --red: #a82424;
  --bezier-anim: cubic-bezier(0.26, 0, 0.25, 1.01);
}

/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  width: fit-content;
}

img,
video {
  display: block;
}

body {
  overflow-x: hidden;
  padding-top: 110px;
  background: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}

.spacing {
  margin-bottom: 50px;
}

/* TEXT */

p,
a,
h1,
h2,
h3,
h4,
input,
label,
ul {
  color: var(--white);
}

p,
a,
input,
label,
ul {
  font-size: 16px;
}

h1 {
  font-size: 90px;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  text-transform: uppercase;
}

h3 {
  font-size: 35px;
  width: 1800px;
}

h4 {
  font-size: 25px;
}

.small {
  font-size: 13px;
}

hr {
  border: 0.5px solid var(--grey);
  align-self: stretch;
}

.text-underline {
  text-decoration: underline;
}

.banner-text p {
  color: var(--grey);
}

.text-animation {
  border: 1px solid var(--grey);
  border-left: none;
  border-right: none;
  overflow: hidden;
}

@keyframes scroll {
  to {
    transform: translateX(-100%);
  }
}

.text-animation-inner {
  display: flex;
}

.text-animation-inner h3 {
  flex-shrink: 0;
  padding: 15px 0px;
  overflow: hidden;
  animation: scroll 20s linear infinite;
}

.text-animation:hover .text-animation-inner h3 {
  animation-play-state: paused;
}

.li {
  color: var(--red);
  margin: 0px 10px;
}

.font-weight-400 {
  font-weight: 400;
}

/* IMAGES */

.bramois {
  width: 80px;
}

.shop {
  height: 20px;
}

.chevron {
  width: 10px;
}

.social {
  height: 30px;
}

.millau {
  height: 15px;
}

.biosuisse {
  height: 50px;
}

/* BUTTONS */

.button {
  border-radius: 7px;
  border: 1px solid var(--white);
  background: none;
  padding: 5px 20px;
  transition: all 75ms ease-in-out;
  text-transform: uppercase;
}

.button:hover {
  background: var(--grey);
}

/* MENU BURGER*/

.burger {
  display: flex;
  gap: 7px;
  position: relative;
  z-index: 1; /* permet de faire passer le lien devant le menu */
}

.menu {
  top: 20px;
  padding: 20px 10px;
  position: absolute;
  background: linear-gradient(transparent 0%, var(--black) 10%);
  opacity: 0; /* par défaut, le menu a une opacité de 0 */
  pointer-events: none; /* par défaut, le menu ne peut pas être cliqué */
  transition: opacity 0.3s;
  /* par défaut, on décale le menu de 100% vers la droite */
  transition: transform 0.3s;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transition: all 150ms var(--bezier-anim);
  transform: translateY(-10px);
}

.menu hr {
  margin: 10px 0px;
}

.menu.is-active {
  transform: translateY(0px);
  opacity: 1; /* avec la classe is-active, le menu a une opacité de 1 */
  pointer-events: auto; /* avec la classe is-active, le menu peut être cliqué */
}

.chevron {
  transform: rotate(0deg);
  transition: transform 100ms ease-out;
}

.chevron-anim {
  transform: rotate(-180deg);
}

.menu a:hover {
  transition: all 50ms linear;
}

.menu a:hover {
  color: var(--grey);
}

/* HEADER */

header {
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0px 30px;
  background: var(--black-opaque);
  border: 1px solid var(--grey);
  border-radius: 10px;
  top: 20px;
  right: 20px;
  left: 20px;
}

.header-item {
  display: block;
}

.header-content {
  display: flex;
  flex-direction: row;
  gap: 25px;
  height: 100%;
  align-items: center;
}

/* FOOTER */

.footer {
  display: flex;
  gap: 60px;
  justify-content: space-between;
}

.footer-title {
  text-transform: uppercase;
  font-weight: 700;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.social-media {
  display: flex;
  gap: 10px;
}

.e-mail {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--white);
  background: none;
}

.inscription {
  display: flex;
  gap: 10px;
  width: 100%;
}

.endorsements {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.footer-end {
  display: flex;
  justify-content: space-between;
}

.footer-end-left {
  display: flex;
  gap: 30px;
}

.footer-section {
  padding: 20px 0px;
}

/* BANNER */

.banner {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  background: linear-gradient(
    143deg,
    rgba(168, 36, 36, 0.39) 18.93%,
    rgba(168, 36, 36, 0) 39.64%
  );
  padding: 60px 80px;
}

.banner-text {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.banner-img {
  display: block;
  height: 250px;
}

.banner-img img {
  position: relative;
  bottom: 400px;
  left: 80px;
  height: 750px;
  transform: rotate(-10deg);
  opacity: 90%;
  transition: transform 100ms var(--bezier-anim);
}

.banner-img img:hover {
  transform: rotate(-5deg), scale(1.2);
}

/* SECOND SECTION */

.card {
  position: relative;
  border-radius: 20px;
  border: 1px solid var(--grey);
  overflow: hidden;
  height: 300px;
  padding: 20px;
  text-align: center;
}

.card.vigneron {
  background-image: url(../imgs/vigneron-gradient.png);
  background-size: cover;
}

.card.nouveau {
  background-image: url(../imgs/nouveau-gradient.png);
  background-size: cover;
  background-color: transparent;
  transition: all 200ms linear;
}

.card.nouveau:hover {
  background-color: #ff8d07;
}

.card.visite {
  background-image: url(../imgs/visite-gradient.png);
  background-size: cover;
}

.card h2,
.card p {
  margin-bottom: 30px;
}

.card p {
  max-width: 500px;
}

.card-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateY(160px);
  transition: all 400ms var(--bezier-anim);
  padding: 60px 40px;
}

.card:hover .card-center {
  transform: translateY(0px);
}

.card-color-red,
.card-color-orange,
.card-color-green {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0%;
  transition: all 300ms cubic-bezier(0.26, 0, 0.25, 1.01);
}

.card-color-red {
  background: rgba(110, 0, 27, 0.6) 100%;
}

.card-color-orange {
  background: rgba(255, 141, 7, 0.6);
}

.card-color-green {
  background: rgba(82, 111, 1, 0.6);
}

.card:hover .card-color-red,
.card:hover .card-color-orange,
.card:hover .card-color-green {
  opacity: 100%;
}

.card-center .button {
  transform: translateY(50px);
  transition: transform 300ms 150ms cubic-bezier(0.26, 0, 0.25, 1.01);
}

.card:hover .card-center .button {
  transform: translateY(0px);
}

.card-center p {
  opacity: 0;
  transition: all 300ms 300ms linear;
}

.card:hover .card-center p {
  opacity: 1;
}

.deco-text {
  writing-mode: vertical-rl;
  padding-left: 60px;
  font-size: 79px;
  text-transform: uppercase;
  font-weight: 700;
}

/* PAGE VIN */

.traits-vin,
.vin-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vin-icon-section {
  display: flex;
  justify-content: space-between;
}

.vin-icon {
  width: 190px;
  text-align: center;
}

.vin-icon img {
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  margin-bottom: 10px;
}

.font-weight-700 {
  font-weight: 700;
}

.breadcrumb {
  text-transform: uppercase;
}

.breadcrumb a {
  transition: all 50ms linear;
}

.breadcrumb a:hover {
  color: var(--grey);
}

.breadcrumb img {
  display: inline;
  height: 15px;
}

.breadcrumb-dividing {
  margin: 0px 7px;
}

.vin-image {
  height: 400px;
  object-fit: cover;
}

.vin-image,
.vin-image-gallery img {
  width: 100%;
}

.vin-image-gallery img {
  height: 110px;
  width: 110px;
  object-fit: cover;
  border-radius: 7px;
}

.vin-image-gallery {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.selected-img {
  border: 4px solid var(--grey);
}

.prix {
  border: 1px solid var(--grey);
  border-radius: 7px;
  padding: 20px 50px;
}

.prix h4 {
  text-align: center;
}

.prix-add {
  display: flex;
  gap: 10px;
}

.prix-bottom {
  margin-top: 20px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
